.improved-job-filter {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;

    button {
        font-size: 18px;
        cursor: pointer;
    }

    select {
        font-size: 18px;
    }

    .content-container {
        color: #eee;
        background: #444;
        border: solid 2px black;
        padding: 10px;
    }

    input {
        font-size: 18px;
    }
}

.ijf-highlight {
    animation: highlight-pulse 0.5s infinite alternate;
}

@keyframes highlight-pulse {
    from {
        background-color: #40ff4000;
    }

    to {
        background-color: #40ff4080;
    }
}